.main {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
  padding: 0 12px;
}
.insidebox {
  padding: 20px;
  background-color: gray;
  border-radius: 30px;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  cursor: pointer;
  margin-bottom: 12px;
}
.image {
  margin: auto;
  border-radius: 20px;
}
.image:hover {
  filter: opacity(0.8);
}
.closeButton {
  border: 2px solid black;
  color: brown;
}
.modal{
  border: 5px solid blue;
}

@media (max-width: 991px) {
  .main {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media (max-width: 480px) {
  .main {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }
}
